fastapi~=0.115.12
uvicorn~=0.34.1
pydantic~=2.11.3
motor~=3.7.0
passlib[bcrypt]~=1.7.4
python-jose[cryptography]~=3.4.0
python-dotenv~=1.1.0
email-validator
arq~=0.26.3
redis~=5.2.1
google-generativeai
typing~=3.7.4.3
pymongo~=4.12.0
starlette~=0.46.2
protobuf~=5.29.4
dnspython~=2.7.0
idna~=3.10
cryptography~=44.0.2
anyio~=4.9.0
h11~=0.14.0
pip~=23.2.1
wheel~=0.41.2
rsa~=4.9
pyasn1~=0.6.1
cffi~=1.17.1
setuptools~=68.2.0
ecdsa~=0.19.1
typing_extensions~=4.13.2
exceptiongroup~=1.2.2
sniffio~=1.3.1
six~=1.17.0
click~=8.1.8
email_validator~=2.2.0
pydantic_core~=2.33.1
requests~=2.32.3
certifi~=2025.1.31
annotated-types~=0.7.0
pycparser~=2.22
bcrypt~=4.3.0